.section-skills {
}

.skills-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.6rem;
  width: 36%;
  margin: 0 auto;
}

.skill {
  background-color: #2a2f4c;
  color: #bdbddd;
  padding: 0.8rem 1.6rem;
  transition: all 0.5s ease-out;
}

.skill:hover {
  box-shadow: 0 0 5px 1px #cdcdff;
  transform: translateY(-10%);
  cursor: pointer;
}

@media (max-width: 567px) {
  .skills-wrapper {
    padding-inline: 5%;
    margin-top: 8%;
  }
}

@media (max-width: 768px) {
  .section-skills {
    margin-top: 30%;
  }

  .skills-wrapper {
    width: 100%;
    justify-content: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-skills {
    margin-top: 16%;
  }

  .skills-wrapper {
    width: 60%;
    margin-top: 8%;
  }
}

@media (min-width: 820px) {
  .section-skills {
    margin-top: 30%;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .section-skills {
    margin-top: 16%;
  }

  .skills-wrapper {
    width: 60%;
  }
}

@media (min-width: 1440px) {
  .section-skills {
    margin-top: 16%;
  }
}
