.section-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 4%;
  margin-bottom: 8%;
}

.logo {
  color: #90a0d9;
  font-size: 1.8rem;
  font-family: "Poppins-Bold";
}

.light .logo {
  color: #2978b5;
}

.nav-bar {
  display: flex;
  column-gap: 3rem;
}

.nav-items {
  color: #bdbddd;
  padding-bottom: 0.2rem;
  background-image: linear-gradient(#90a0d9, #90a0d9);
  background-size: 0% 0.4rem;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.3s linear;
}

.light .nav-items {
  color: #444;
  background-image: linear-gradient(#2978b5, #2978b5);
}

.nav-items:hover,
.nav-items:active,
.nav-items:focus {
  color: #90a0d9;
  background-size: 100% 0.4rem;
}

.light .nav-items:hover,
.light .nav-items:active,
.light .nav-items:focus {
  color: #2978b5;
}

.light .on-hover-nav-icon svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: #2978b5;
}

.light .on-hover-nav-icon svg path:hover {
  fill: #2978b560;
}
