.section-hero {
  text-align: center;
  color: #444;
}

.heading-primar-author {
  color: #90a0d9;
  font-family: "Poppins-Bold";
}

.hero-description {
  color: #bdbddd;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 3%;
}

.hero-description-dark {
  color: #444;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 3%;
}

.resume-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.resume-wrapper-dark {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.resume-wrapper svg {
  width: 2.4rem;
  fill: #bdbddd;
}

.resume-wrapper svg:hover {
  cursor: pointer;
  fill: #bdbddd60;
}

.resume-wrapper-dark svg {
  width: 2.4rem;
  fill: #444;
}

.resume-wrapper-dark svg:hover {
  cursor: pointer;
  fill: #44444460;
}

@media (max-width: 567px) {
  .section-hero {
    text-align: left;
    margin-top: 16%;
  }

  .hero-description {
    margin-bottom: 12%;
    padding-inline: 5%;
  }

  .hero-description-dark {
    margin-bottom: 12%;
    padding-inline: 5%;
  }

  .resume-wrapper {
    justify-content: flex-start;
  }

  .resume-wrapper-dark {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-hero {
    margin-top: 16%;
  }

  .hero-description {
    margin-bottom: 8%;
  }

  .hero-description-dark {
    margin-bottom: 8%;
  }
}

@media (min-width: 1200px) {
  .hero-description {
    margin-bottom: 4%;
  }

  .hero-description-dark {
    margin-bottom: 4%;
  }
}
