.section-hero {
  text-align: center;
}

.heading-primar-author {
  color: #90a0d9;
  font-family: "Poppins-Bold";
}

.hero-description {
  color: #bdbddd;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 3%;
}

@media (max-width: 567px) {
  .section-hero {
    text-align: left;
    margin-top: 16%;
  }

  .hero-description {
    margin-bottom: 12%;
    padding-inline: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-hero {
    margin-top: 16%;
  }

  .hero-description {
    margin-bottom: 8%;
  }
}

@media (min-width: 1200px) {
  .hero-description {
    margin-bottom: 4%;
  }
}
