/* 
font: poppins
colors:
  - #23283e; 
  - #2a2f4c; 
  - #bdbddd; 
  - #cdcdff; 
  - #90a0d9
*/

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #23283e;
  font-size: 1.6rem;
  font-family: "Poppins-Regular";
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: 6.4rem;
  font-family: "Poppins-Bold";
  color: #cdcdff;
  margin-bottom: 2%;
}

.heading-secondary {
  font-family: "Poppins-Bold";
  color: #cdcdff;
  margin-bottom: 3%;
}

.heading-tertiary {
  color: #cdcdff;
  font-family: "Poppins-Bold";
  font-size: 3.2rem;
  margin-bottom: 3%;
}
