/* 
font: poppins
colors:
  - #23283e; 
  - #2a2f4c; 
  - #bdbddd; 
  - #cdcdff; 
  - #90a0d9
*/

@font-face {
  font-family: "Poppins-Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #23283e;
  font-size: 1.6rem;
  font-family: "Poppins-Regular";
}

a {
  text-decoration: none;
}

.heading-primary {
  font-size: 6.4rem;
  font-family: "Poppins-Bold";
  color: #cdcdff;
  margin-bottom: 2%;
}

.heading-secondary {
  font-family: "Poppins-Bold";
  color: #cdcdff;
  margin-bottom: 3%;
  font-size: 3.6rem;
}

.heading-tertiary {
  color: #cdcdff;
  font-family: "Poppins-Bold";
  font-size: 3.2rem;
  margin-bottom: 3%;
}

@media (max-width: 567px) {
  .heading-primary {
    font-size: 3rem;
    text-align: left;
  }

  .heading-secondary {
    color: #cdcdff;
    margin-bottom: 8%;
    font-size: 2.4rem;
    text-align: left;
  }

  .heading-tertiary {
    font-size: 1.8rem;
    margin-block: 8%;
    text-align: left;
    padding-inline: 5%;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .heading-primary {
    font-size: 4.4rem;
  }

  .heading-secondary {
    color: #cdcdff;
    font-size: 3rem;
    margin-bottom: 0;
  }

  .heading-tertiary {
    font-size: 2.8rem;
    margin-block: 6%;
    padding-inline: 5%;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .heading-primary {
    font-size: 5.2rem;
  }

  .heading-tertiary {
    font-size: 3rem;
  }
}

/*
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (max-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) { ... }

*/
