.card {
  background-color: #23283e;
  padding-block: 8% 12%;
  border: 1px solid #2a2f4c;
  position: relative;
  margin-top: 8%;
  transition: all 0.5s ease-out;
}

.card:hover,
.card:active,
.card:focus {
  transform: translateY(-3%);
  background-color: #23283e;
  z-index: 2;
  cursor: pointer;
}

.light .card {
  background-color: #fff;
  box-shadow: 0 5px 10px 5px #44444440;
  border: none;
}

.light .card:hover,
.light .card:active,
.light .card:focus {
  box-shadow: 0 0 10px 1px #2978b5;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border: 1px solid #2a2f4c;
  background-color: #23283e;
  padding: 3rem;
}

.light .card::before {
  border: none;
  background-color: #fff;
}

.card:hover:before {
  box-shadow: 0 0 10px 1px #cdcdff;
  cursor: pointer;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  border-radius: 1.6rem;
  box-shadow: 0 0 0 10px rgba(33, 37, 56, 0.7), 0 0 0 20px rgba(33, 37, 56, 0.5),
    0 0 0 30px rgba(33, 37, 56, 0.3), 0 0 0 45px rgba(33, 37, 56, 0.15);
}

.light .card::after {
  box-shadow: none;
}

.card-headline {
  font-size: 2.4rem;
  color: #cdcdff;
  font-family: "Poppins-SemiBold";
}

.light .card-headline {
  color: #444;
}

.card-description {
  color: #bdbddd;
  width: 90%;
  margin: 6% auto 8%;
}

.light .card-description {
  color: #444;
}

.card-tech-stack-wrapper {
  display: flex;
  justify-content: center;
  column-gap: 4%;
}

.card-tech-stack-item {
  color: #cdcdff;
  font-family: "Poppins-Medium";
  font-size: 1.4rem;
}

.light .card-tech-stack-item {
  color: #444;
}

.card-project-links-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.6rem;
  margin-top: 3.6rem;
}

.card-project-links-wrapper svg {
  width: 2.4rem;
  fill: #bdbddd;
}

.card-project-links-wrapper svg:hover {
  cursor: pointer;
  fill: #bdbddd60;
}

.light .card-project-links-wrapper svg {
  fill: #444;
}

.light .card-project-links-wrapper svg:hover {
  fill: #44444460;
}

@media (max-width: 567px) {
  .card {
    text-align: left;
    padding-inline: 5%;
  }

  .card-description {
    width: 100%;
  }

  .card-tech-stack-wrapper {
    justify-content: flex-start;
  }

  .card-project-links-wrapper {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) and (max-width: 819px) {
  .card {
    margin-top: 4%;
  }

  .card-headline {
    font-size: 2.6rem;
  }

  .card-description {
    width: 70%;
    margin: 6% auto 8%;
    font-size: 2rem;
  }

  .card-tech-stack-wrapper {
    column-gap: 4%;
  }

  .card-tech-stack-item {
    font-size: 1.6rem;
  }
}

@media (min-width: 820px) {
  .card {
    margin-top: 0;
  }
}
